:root {
  --primary-color: #1a4a73;
  --secondary-color: #f1f8ff;
  --accent-color: #2c3e50;
  --text-color: #333;
  --gradient-start: #002a4f;
  --gradient-end: #0077ff;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

header {
  background: linear-gradient(45deg, var(--gradient-start), var(--gradient-end));
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-weight: 900;
  margin-bottom: 10px;
  color: white;
}

h2 {
  color: var(--accent-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
}

nav {
  margin-top: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  background-color: white;
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social-links a {
  display: inline-block;
  margin-right: 15px;
}

.social-links svg {
  fill: var(--accent-color);
  transition: fill 0.3s ease;
}

.social-links a:hover svg {
  fill: var(--primary-color);
}

.about-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.about-image {
  width: 300px;  /* Set a fixed width */
  height: 300px; /* Set the same value as width to make it square */
  object-fit: cover; /* This ensures the image covers the area without stretching */
  object-position: center; /* This centers the image within the square */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content {
  flex: 1;
}

.about-content h2 {
  margin-top: 0;
}

footer {
  background-color: var(--accent-color);
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.project-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.project {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5; /* Light gray background */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
    transition: transform 0.2s ease-in-out;
}

.project:hover {
    transform: translateY(-5px);
}

.project-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.project-title {
    margin-bottom: 0.5rem;
}

.project-date {
    font-style: italic;
    color: #666;
}

.project-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.project-link:hover,
.project-link:visited,
.project-link:active {
    color: inherit;
    text-decoration: none;
}


